.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-right: 40px;
}

.link {
  font-size: 20px;
  list-style: none;
}

.link-line {
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(127, 178, 245);
  font-weight: 700;
  box-shadow: 2px 2px 2px rgb(232, 239, 255);
}